.home_page-body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background: linear-gradient(180deg,#0f269a,#1d9bc1,#0ae906);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
html, body {
    height: 100%;
    margin: 0;
    min-height: 100vh;
}

h1 {
    font-family:'Arial Black', sans-serif;
    color: #ff5a47; 
    letter-spacing: 2px;
    text-shadow: 1px 2px #ffffff; /* effet relief */
    margin: 100px auto 20px auto;
}
h2 {
    font-family:'Arial Black', sans-serif;
    color: #001eff; 
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 3px 1px #ffffff; /* effet relief */
}

.Return {
    font-family: 'Arial Black', cursive; 
    font-size: 18px;
    padding: 12px 25px;
    margin: 8px;
    border: 2px solid #fff;
    border-radius: 12px;
    cursor: pointer;
    color: white;
    transition: all 0.2s;
    text-transform: uppercase;
    box-shadow: 0 5px #666;
    background-color: #3498db; /* bleu */
    display: block;
}

.Return:hover {
    transform: scale(1.1);
    box-shadow: 0 8px #444;
}
/* Boutons colonnes */
#columns {
    margin-bottom: 15px;
}

#columns button {
    background: #f83104;
    border: none;
    padding: 10px 15px;
    margin: 8px;
    justify-content: center;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 7px;
    cursor: pointer;
}

/* Plateau du jeu */
#board {
    display: grid;
    gap: 5px;
    margin: 0 auto 15px auto;
    justify-content: center;
    background-color: #096ea6;
    max-width: 600px;
    padding: 10px;
    border-radius: 15px;
}

.row {
    display: contents;
}

.cell {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: white;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
}
.diff-btn {
    font-family: 'Arial Black', cursive;  
    font-size: 18px;
    padding: 20px 25px;
    margin: 20px;
    border: 2px solid #fff;
    border-radius: 12px;
    cursor: pointer;
    color: white;
    transition: all 0.2s;
    text-transform: uppercase;
    box-shadow: 0 5px #666;
}

/* Couleurs selon la difficulté */
.diff-btn[data-diff="facile"] {
    background-color: #33ca11; /* vert */
}
.diff-btn[data-diff="moyen"] {
    background-color: #f39c12; /* orange */
}
.diff-btn[data-diff="difficile"] {
    background-color: #c0392b; /* rouge */
}
.diff-btn2 {
    background-color: #34495e; /* gris foncé */
    font-family: 'Arial Black', cursive;  
    font-size: 18px;
    padding: 12px 25px; 
    margin: 25px;   
    border: 2px solid #fff;
    border-radius: 12px;
    cursor: pointer;
    color: white;
    transition: all 0.2s;
    text-transform: uppercase;
    box-shadow: 0 5px #666;
}
.deconnexion:hover {
    transform: scale(1.1);
    box-shadow: 0 8px #444;
}
/* Hover : effet interactif */
.diff-btn:hover , .diff-btn2:hover ,.restartbtn:hover, .home_button:hover , .menu-button:hover {
    transform: scale(1.1);
    box-shadow: 0 8px #444;
}
.diff-btn:active , .diff-btn2:active , .restartbtn:active, .home_button:active , .menu-button:active {
    transform: translateY(3px);
    box-shadow: 0 3px #444;
}


/*Bouton pour les règles */

.tooltip-btn {
    float: left;    /* nécessaire pour placer l’info-bulle */
    position: relative; /* nécessaire pour placer l’info-bulle */
    font-family: 'Arial Black', cursive;  /* style foot / fun */
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 100px;
    border: none;
    background-color: #3498db;
    color: white;
}
.tooltip-btn:hover {
    background-color: #0affeb;
}
/* L’info-bulle, cachée par défaut */
.tooltip-btn .tooltip-text {
    visibility: hidden;       /* caché au départ */
    width: 200px;
    background-color: rgb(0, 0, 0);
    color: #d40a0a;
    text-align: center;
    padding: 6px 8px;
    border-radius: 6px;
    border: #fcfcfc 2px solid;
    
    position: absolute;
    bottom: -100%;             /*à gauche  du bouton */ 
    left: 100%;
    transform: translateX(-20%);
    
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1;
}

/* Affichage au survol */
.tooltip-btn:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}
.currentPlayer {
    font-size: 50px;
    margin-bottom: 10px;
    color: rgb(46, 46, 223);
}

.restartbtn {
    font-family: 'Arial Black', cursive;
    display: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    background-color: #2ecc71; /* vert */
    color: rgb(0, 0, 0);
}

.power4-body {
    background: linear-gradient(90deg, rgb(12, 22, 68), #add8e6, rgb(240, 0, 0));
    background-attachment: fixed; /* reste fixe même quand on défile */
    background-repeat: no-repeat; /* empêche toute répétition du dégradé */
    background-size: cover;       /* couvre toute la zone visible */
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}


.home_button{  
    font-family: 'Arial Black', cursive;  
    font-size: 18px;
    padding: 12px 25px;
    margin: 8px;
    border: 2px solid #fff;
    border-radius: 12px;
    cursor: pointer;
    color: white;
    transition: all 0.2s;
    text-transform: uppercase;
    box-shadow: 0 5px #666;
    background-color: #3498db; 
}
#login-title {
    font-family: 'Arial Black', sans-serif;
    color: #f92e0a; 
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px #000; 
    text-align: center;
    margin: 100px auto;
    font-size: 32px;
}
.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}
#inscription-page {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre le contenu (optionnel) */
    background: linear-gradient(280deg, rgb(12, 22, 68), #add8e6, rgb(255, 89, 0));
    background-size: cover;
    background-repeat: no-repeat;

}
label[for="username"]{
    font-family: 'Arial Black', cursive;
    display: block;
    text-align: left;
    margin-bottom: 10px;
}
label[for="password"],label[for="email"]{
    font-family: 'Arial Black', cursive;
    display: block;
    text-align: left;
    margin-bottom: 10px;
}
#password, #username, #email{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
button[type="submit"],button[type="ok"] {
    font-family: 'Arial Black', cursive;
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
p { 
    font-size: 20px;
    color: rgb(0, 0, 0);
}
address {
    font-style: normal;
    font-size: 20px;
    margin-top: 20px;
}
.match-image {
    width: 625px;       
    height: auto;       
    transform: translateX(-105px);
    border-radius: 15px;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-top: 15px;
}

strong {
    font-family: 'Arial Black', cursive; 
    color: #545d54; 
}
.menu-button {
    color: rgb(9, 47, 197);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(300deg , rgb(144, 161, 237),rgb(253, 253, 253),rgb(255, 0, 0));
    padding: 0px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 10px ;
    width: 200px;
    border: 2px solid #000000;
    font-size: 30px;
}
#toggleAIBtn {
    font-family: 'Arial Black', cursive; 
    font-size: 18px;
    padding: 12px 25px;
    margin: 8px;
    border: 2px solid #fff;
    border-radius: 12px;
    cursor: pointer;
    color: white;
    transition: all 0.2s;
    text-transform: uppercase;
    box-shadow: 0 5px #666;
    background-color: #8e44ad; /* violet */
}
#gravityBtn {
    font-family: 'Arial Black', cursive; 
    font-size: 18px;
    padding: 12px 25px;
    margin: 8px;
    border: 2px solid #fff;
    border-radius: 12px;
    cursor: pointer;
    color: white;
    transition: all 0.2s;
    text-transform: uppercase;
    box-shadow: 0 5px #666;
    background-color: #e67e22; /* orange */
}
#toggleAIBtn:hover , #gravityBtn:hover {
    transform: scale(1.1);
    box-shadow: 0 8px #444;
}
#toggleAIBtn.active , #gravityBtn.active {
    transform: translateY(3px);
    background-color: #0affeb;
}
   
/* Histoire du Jeu CSS */
.History-btn{
    font-family: 'Arial Black', cursive; 
    font-size: 18px;
    padding: 12px 25px;
    margin: 2px;
    margin-right: 120px;
    border: 2px solid #fff;
    border-radius: 12px;
    cursor: pointer;
    color: white;
    transition: all 0.2s;
    text-transform: uppercase;
    box-shadow: 0 5px #666;
    background-color: #3498db; /* bleu */

}
.History-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 8px #444;
}
.history-content {
    max-width: 400px;
    margin: 100px auto;
    padding: 30px;
    border-radius: 10px;
    background: linear-gradient(130deg, #0f269a,#9c83ef,#B98AF2);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}
.history-body {
    font-family: Arial, sans-serif;
    text-align: center; 
    margin: 0;  
    padding: 20px;
     background: linear-gradient(130deg, #161af1,#796197);
    background-size: cover;
    background-size: 120% auto; 
}
/* Profil Du Joueur CSS */
.profile-title {
    font-family: 'Arial Black', sans-serif;
    color: #1b4599;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px #ffffff; /* effet relief */
    text-align: center;
    margin-top: 2px;
    font-size: 32px;
}
.profile-container{
  display: flex;                  
  justify-content: space-between; 
  align-items: flex-start;       
  width: 90%;                     
  margin: 0 auto;                 /* centre le conteneur */
  gap: 40px;                     
}
.profile-left{
  flex: 1;                        /* prend la même largeur */
  border-radius: 15px;
  padding: 20px;
  box-sizing: border-box;
  min-height: 300px;                          /* chaque côté prend la moitié de l’espace */
}
.profile-page {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    min-height: 100vh; /* ⭐ Prend toute la hauteur visible de l'écran */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre le contenu (optionnel) */
    background: linear-gradient(280deg, rgb(12, 22, 68), #add8e6, blue);
    background-size: cover;
    background-repeat: no-repeat;
}

.profile-info {
    font-family: 'Arial Black', cursive;  /* style foot / fun */
    background: linear-gradient(320deg, rgb(124, 91, 91), white, rgb(0, 21, 255));
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    font-size: 20px;    
    margin-top: 20px;
    border : 2px solid #fff;
}
#profile-photo-label {
    font-family: 'Arial Black', cursive;  /* style foot / fun */
    background: linear-gradient(320deg, rgb(124, 91, 91), white, rgb(0, 21, 255));
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: center;
    max-width: 400px;
    font-size: 20px;    
    margin-top: 20px;
    margin-left: 330px;
    border : 2px solid #fff;
}
.profile-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer; /* pour montrer que c’est cliquable */
    transition: transform 0.2s;
    border:2px solid #000000;
}
button[name="upload"]{
    font-family: 'Arial Black', cursive;  /* style foot / fun */
    font-size: 18px;
    padding: 12px 25px;
    margin: 8px;
    border: 2px solid #fff;
    border-radius: 12px;
    cursor: pointer;
    color: white;
    transition: all 0.2s;
    text-transform: uppercase;
    box-shadow: 0 5px #666;
    background-color: #3498db; /* bleu */
}

button[name="upload"]:hover {
    transform: scale(1.1);
    box-shadow: 0 8px #444;
}
/* Classement CSS */

body {
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 0;
}
/* Tableau */
table {
    border-collapse: collapse;
    width: 70%;
    margin: 40px auto;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 12px 18px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

/* En-têtes cliquables */
th {
    background-color: #f2f2f2;
    cursor: pointer;
    user-select: none;
    transition: background 0.3s, color 0.3s;
}

th:hover {
    background-color: #e0e0e0;
    color: #000;
}

/* Lignes alternées */
tr:nth-child(even) {
    background-color: #fafafa;
}

tr:hover {
    background-color: #f1f1f1;
}
.classement-body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    min-height: 100vh; /* ⭐ Prend toute la hauteur visible de l'écran */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre le contenu (optionnel) */
    background: linear-gradient(280deg, rgb(12, 22, 68), #add8e6, blue);
    background-size: cover;
    background-repeat: no-repeat;
}