<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Histoire du jeu - Puissance 4</title>
  <link rel="stylesheet" href="../../assets/style/style.css">
</head>
<body class="history-body">
  <p class="profile-title">Histoire du jeu</p>
  <div class="history-content">
    <p> L’ancêtre le plus moderne du jeu de Puissance 4 s’avère être le Sogo (aussi appelé “Score Four”), sorti en 1960 aux États-Unis. Ce jeu très similaire a sans doute influencé directement la conception du Puissance 4, avec lequel il partage l’idée d’empiler des pions pour former un empilement vertical.</p>

</html>